{% include 'home.html' %}
{% load bootstrap4 %}
{% block content3 %}
{% include 'school_app/messages.html' %}
{% block content1 %}
{% endblock %}
<div class="container c1">
  <div class="jumbotron">
    <h2>Login</h2>
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-info" type="submit" name="" value="Login">
    </form><br>
    <a class="btn btn-danger" href="{% url 'password_reset' %}">Forgotten password?</a>
  </div>
</div>
{% endblock %}
